.terraform/providers/registry.terraform.io/hashicorp/azurerm/2.99.0/linux_amd64/terraform-provider-azurerm_v2.99.0_x5
.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/tls/3.4.0/linux_amd64/terraform-provider-tls_v3.4.0_x5
